<html>

<head>
    <title>Why are you here...</title>
</head>

<body>
    <div>
        <h1><a href="/">A Random Blog</a></h1>
        <!-- <p>It works!!!</p> -->
    </div>

    <div>
        <p>published: 11.06.2019, 2.04</p>
        <h2><a href="">My first post</a></h2>
        <p>whbefo iwbrvo ebvwer rhbuweor hubv</p>
    </div>

    <div>
        <p>published: 11.06.2019, 2.04</p>
        <h2><a href="">My second post</a></h2>
        <p>lisdfvo sifbvs oeifnboi fnvaof nvaoijrn</p>
    </div>

</body>

</html>